.addbtn-custom{
    background-color: #c8d8c8!important; 
    border-color: #e5f2e5 !important;
    color: #234d20 !important;
    font-weight: bold !important;
}

.addbtn-custom:hover {
    background-color: #7fbf7f !important; 
}